/**
* 圆角
*/
.vc-border-radius--smaller {
  border-radius: 2px;
}
.vc-border-radius--small {
  border-radius: 4px;
}
.vc-border-radius--medium {
  border-radius: 8px;
}
.vc-border-radius--large {
  border-radius: 16px;
}
.vc-border-radius--larger {
  border-radius: 32px;
}
.vc-border-radius--circle {
  border-radius: 100%;
}
.vc-border-radius--half {
  border-radius: 50%;
}
.vc-border-top-left-radius--smaller {
  border-top-left-radius: 2px;
}
.vc-border-top-left-radius--small {
  border-top-left-radius: 4px;
}
.vc-border-top-left-radius--medium {
  border-top-left-radius: 8px;
}
.vc-border-top-left-radius--large {
  border-top-left-radius: 16px;
}
.vc-border-top-left-radius--larger {
  border-top-left-radius: 32px;
}
.vc-border-top-left-radius--circle {
  border-top-left-radius: 100%;
}
.vc-border-top-left-radius--half {
  border-top-left-radius: 50%;
}
.vc-border-top-right-radius--smaller {
  border-top-right-radius: 2px;
}
.vc-border-top-right-radius--small {
  border-top-right-radius: 4px;
}
.vc-border-top-right-radius--medium {
  border-top-right-radius: 8px;
}
.vc-border-top-right-radius--large {
  border-top-right-radius: 16px;
}
.vc-border-top-right-radius--larger {
  border-top-right-radius: 32px;
}
.vc-border-top-right-radius--circle {
  border-top-right-radius: 100%;
}
.vc-border-top-right-radius--half {
  border-top-right-radius: 50%;
}
.vc-border-top-left-radius--smaller {
  border-bottom-left-radius: 2px;
}
.vc-border-bottom-left-radius--small {
  border-bottom-left-radius: 4px;
}
.vc-border-bottom-left-radius--medium {
  border-bottom-left-radius: 8px;
}
.vc-border-bottom-left-radius--large {
  border-bottom-left-radius: 16px;
}
.vc-border-bottom-left-radius--larger {
  border-bottom-left-radius: 32px;
}
.vc-border-bottom-left-radius--circle {
  border-bottom-left-radius: 100%;
}
.vc-border-bottom-left-radius--half {
  border-bottom-left-radius: 50%;
}
.vc-border-bottom-right-radius--smaller {
  border-bottom-right-radius: 2px;
}
.vc-border-bottom-right-radius--small {
  border-bottom-right-radius: 4px;
}
.vc-border-bottom-right-radius--medium {
  border-bottom-right-radius: 8px;
}
.vc-border-bottom-right-radius--large {
  border-bottom-right-radius: 16px;
}
.vc-border-bottom-right-radius--larger {
  border-bottom-right-radius: 32px;
}
.vc-border-bottom-right-radius--circle {
  border-bottom-right-radius: 100%;
}
.vc-border-bottom-right-radius--half {
  border-bottom-right-radius: 50%;
}
