@import './theme.less';

.@{prefix}-input {
  position: relative;

  input {
    text-align: left;
    display: inline-block;
    font-size: inherit;
    font-size: 14px;
    outline: 0;
    width: 100%;
    padding: 0 10px;
    color: @color-dark;
    background-color: transparent;
    border: 0;
    margin: 0;
  }

  input::placeholder {
    font-size: 12px;
    color: @color-gray
  }

  .@{prefix}-input--prepend {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .@{prefix}-input--append {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

/**
* input 高度
*/

.@{prefix}-input input,
.@{prefix}-input.@{prefix}-input--medium input {
  height: @input-size-medium;
  line-height: @input-size-medium;
}

.@{prefix}-input .@{prefix}-input--prepend,
.@{prefix}-input.@{prefix}-input--medium .@{prefix}-input--prepend,
.@{prefix}-input .@{prefix}-input--append,
.@{prefix}-input.@{prefix}-input--medium .@{prefix}-input--append {
  min-width: @input-size-medium;
}

.@{prefix}-input .@{prefix}-input--prepend~input,
.@{prefix}-input.@{prefix}-input--medium .@{prefix}-input--prepend~input,
.@{prefix}-input .@{prefix}-input--append~input,
.@{prefix}-input.@{prefix}-input--medium .@{prefix}-input--append~input {
  padding-left: @input-size-medium + 10px
}

.@{prefix}-input.@{prefix}-input--smaller input {
  height: @input-size-smaller;
  line-height: @input-size-smaller;
}

.@{prefix}-input.@{prefix}-input--smaller .@{prefix}-input--prepend,
.@{prefix}-input.@{prefix}-input--smaller .@{prefix}-input--append {
  min-width: @input-size-smaller;
}

.@{prefix}-input.@{prefix}-input--smaller .@{prefix}-input--prepend~input,
.@{prefix}-input.@{prefix}-input--smaller .@{prefix}-input--append~input {
  padding-left: @input-size-smaller + 10px
}


.@{prefix}-input.@{prefix}-input--small input {
  height: @input-size-small;
  line-height: @input-size-small;
}

.@{prefix}-input.@{prefix}-input--small .@{prefix}-input--prepend,
.@{prefix}-input.@{prefix}-input--small .@{prefix}-input--append {
  min-width: @input-size-small;
}

.@{prefix}-input.@{prefix}-input--small .@{prefix}-input--prepend~input,
.@{prefix}-input.@{prefix}-input--smaller .@{prefix}-input--append~input {
  padding-left: @input-size-small + 10px
}

.@{prefix}-input.@{prefix}-input--large input {
  height: @input-size-large;
  line-height: @input-size-large;
}

.@{prefix}-input.@{prefix}-input--large .@{prefix}-input--prepend,
.@{prefix}-input.@{prefix}-input--large .@{prefix}-input--append {
  min-width: @input-size-large;
}

.@{prefix}-input.@{prefix}-input--large .@{prefix}-input--prepend~input,
.@{prefix}-input.@{prefix}-input--large .@{prefix}-input--append~input {
  padding-left: @input-size-large + 10px
}

.@{prefix}-input.@{prefix}-input--larger input {
  height: @input-size-larger;
  line-height: @input-size-larger;
}

.@{prefix}-input.@{prefix}-input--larger .@{prefix}-input--prepend,
.@{prefix}-input.@{prefix}-input--larger .@{prefix}-input--append {
  min-width: @input-size-larger;
}

.@{prefix}-input.@{prefix}-input--larger .@{prefix}-input--prepend~input,
.@{prefix}-input.@{prefix}-input--larger .@{prefix}-input--append~input {
  padding-left: @input-size-larger + 10px
}

/**
* input 对齐方式
*/
.@{prefix}-input.@{prefix}-input--center input {
  text-align: center
}

.@{prefix}-input.@{prefix}-input--right input {
  text-align: right
}

 
 
/**
// 使用方式
<div class="vui-input vui-input--smaller">
  <div class="vui-input--prepend">
    名称
  </div>
  <div class="vui-input--append"></div>
  <input type="text" placeholder="请输入文本... " />
  <div class="vui-input--message"></div>
</div>
*/