/*
* margin     
*/
.jq-margin--smaller {
  margin: 2px;
}
.jq-margin--small {
  margin: 4px;
}
.jq-margin--medium {
  margin: 8px;
}
.jq-margin--large {
  margin: 16px;
}
.jq-margin--larger {
  margin: 32px;
}
/*
* margin-top
*/
.jq-margin-top--smaller {
  margin-top: 2px;
}
.jq-margin-top--small {
  margin-top: 4px;
}
.jq-margin-top--medium {
  margin-top: 8px;
}
.jq-margin-top--large {
  margin-top: 16px;
}
.jq-margin-top--larger {
  margin-top: 32px;
}
/*
* margin-bottom
*/
.jq-margin-bottom--smaller {
  margin-bottom: 2px;
}
.jq-margin-bottom--small {
  margin-bottom: 4px;
}
.jq-margin-bottom--medium {
  margin-bottom: 8px;
}
.jq-margin-bottom--large {
  margin-bottom: 16px;
}
.jq-margin-bottom--larger {
  margin-bottom: 32px;
}
/*
* margin-left
*/
.jq-margin-left--smaller {
  margin-left: 2px;
}
.jq-margin-left--small {
  margin-left: 4px;
}
.jq-margin-left--medium {
  margin-left: 8px;
}
.jq-margin-left--large {
  margin-left: 16px;
}
.jq-margin-left--larger {
  margin-left: 32px;
}
/*
* margin-right
*/
.jq-margin-right--smaller {
  margin-right: 2px;
}
.jq-margin-right--small {
  margin-right: 4px;
}
.jq-margin-right--medium {
  margin-right: 8px;
}
.jq-margin-right--large {
  margin-right: 16px;
}
.jq-margin-right--larger {
  margin-right: 32px;
}
