@import './theme.less';
/*
* margin     
*/

.@{prefix}-margin--smaller {
  margin: @margin-smaller;
}

.@{prefix}-margin--small {
  margin: @margin-small;
}

.@{prefix}-margin--medium {
  margin: @margin-medium;
}

.@{prefix}-margin--large {
  margin: @margin-large;
}

.@{prefix}-margin--larger {
  margin: @margin-larger;
}

/*
* margin-top
*/


.@{prefix}-margin-top--smaller {
  margin-top: @margin-smaller;
}

.@{prefix}-margin-top--small {
  margin-top: @margin-small;
}

.@{prefix}-margin-top--medium {
  margin-top: @margin-medium;
}

.@{prefix}-margin-top--large {
  margin-top: @margin-large;
}

.@{prefix}-margin-top--larger {
  margin-top: @margin-larger;
}

/*
* margin-bottom
*/

.@{prefix}-margin-bottom--smaller {
  margin-bottom: @margin-smaller;
}

.@{prefix}-margin-bottom--small {
  margin-bottom: @margin-small;
}

.@{prefix}-margin-bottom--medium {
  margin-bottom: @margin-medium;
}

.@{prefix}-margin-bottom--large {
  margin-bottom: @margin-large;
}

.@{prefix}-margin-bottom--larger {
  margin-bottom: @margin-larger;
}

/*
* margin-left
*/

.@{prefix}-margin-left--smaller {
  margin-left: @margin-smaller;
}

.@{prefix}-margin-left--small {
  margin-left: @margin-small;
}

.@{prefix}-margin-left--medium {
  margin-left: @margin-medium;
}

.@{prefix}-margin-left--large {
  margin-left: @margin-large;
}

.@{prefix}-margin-left--larger {
  margin-left: @margin-larger;
}


/*
* margin-right
*/

.@{prefix}-margin-right--smaller {
  margin-right: @margin-smaller;
}

.@{prefix}-margin-right--small {
  margin-right: @margin-small;
}

.@{prefix}-margin-right--medium {
  margin-right: @margin-medium;
}

.@{prefix}-margin-right--large {
  margin-right: @margin-large;
}

.@{prefix}-margin-right--larger {
  margin-right: @margin-larger;
}