/*
* padding     
*/
.jq-padding--smaller {
  padding: 2px;
}
.jq-padding--small {
  padding: 4px;
}
.jq-padding--medium {
  padding: 8px;
}
.jq-padding--large {
  padding: 16px;
}
.jq-padding--larger {
  padding: 32px;
}
/*
* padding-top
*/
.jq-padding-top--smaller {
  padding-top: 2px;
}
.jq-padding-top--small {
  padding-top: 4px;
}
.jq-padding-top--medium {
  padding-top: 8px;
}
.jq-padding-top--large {
  padding-top: 16px;
}
.jq-padding-top--larger {
  padding-top: 32px;
}
/*
* padding-bottom
*/
.jq-padding-bottom--smaller {
  padding-bottom: 2px;
}
.jq-padding-bottom--small {
  padding-bottom: 4px;
}
.jq-padding-bottom--medium {
  padding-bottom: 8px;
}
.jq-padding-bottom--large {
  padding-bottom: 16px;
}
.jq-padding-bottom--larger {
  padding-bottom: 32px;
}
/*
* padding-left
*/
.jq-padding-left--smaller {
  padding-left: 2px;
}
.jq-padding-left--small {
  padding-left: 4px;
}
.jq-padding-left--medium {
  padding-left: 8px;
}
.jq-padding-left--large {
  padding-left: 16px;
}
.jq-padding-left--larger {
  padding-left: 32px;
}
/*
* padding-right
*/
.jq-padding-right--smaller {
  padding-right: 2px;
}
.jq-padding-right--small {
  padding-right: 4px;
}
.jq-padding-right--medium {
  padding-right: 8px;
}
.jq-padding-right--large {
  padding-right: 16px;
}
.jq-padding-right--larger {
  padding-right: 32px;
}
