@import './theme.less';
/*
* padding     
*/

.@{prefix}-padding--smaller {
  padding: @padding-smaller;
}

.@{prefix}-padding--small {
  padding: @padding-small;
}

.@{prefix}-padding--medium {
  padding: @padding-medium;
}

.@{prefix}-padding--large {
  padding: @padding-large;
}

.@{prefix}-padding--larger {
  padding: @padding-larger;
}

/*
* padding-top
*/


.@{prefix}-padding-top--smaller {
  padding-top: @padding-smaller;
}

.@{prefix}-padding-top--small {
  padding-top: @padding-small;
}

.@{prefix}-padding-top--medium {
  padding-top: @padding-medium;
}

.@{prefix}-padding-top--large {
  padding-top: @padding-large;
}

.@{prefix}-padding-top--larger {
  padding-top: @padding-larger;
}

/*
* padding-bottom
*/

.@{prefix}-padding-bottom--smaller {
  padding-bottom: @padding-smaller;
}

.@{prefix}-padding-bottom--small {
  padding-bottom: @padding-small;
}

.@{prefix}-padding-bottom--medium {
  padding-bottom: @padding-medium;
}

.@{prefix}-padding-bottom--large {
  padding-bottom: @padding-large;
}

.@{prefix}-padding-bottom--larger {
  padding-bottom: @padding-larger;
}

/*
* padding-left
*/

.@{prefix}-padding-left--smaller {
  padding-left: @padding-smaller;
}

.@{prefix}-padding-left--small {
  padding-left: @padding-small;
}

.@{prefix}-padding-left--medium {
  padding-left: @padding-medium;
}

.@{prefix}-padding-left--large {
  padding-left: @padding-large;
}

.@{prefix}-padding-left--larger {
  padding-left: @padding-larger;
}


/*
* padding-right
*/

.@{prefix}-padding-right--smaller {
  padding-right: @padding-smaller;
}

.@{prefix}-padding-right--small {
  padding-right: @padding-small;
}

.@{prefix}-padding-right--medium {
  padding-right: @padding-medium;
}

.@{prefix}-padding-right--large {
  padding-right: @padding-large;
}

.@{prefix}-padding-right--larger {
  padding-right: @padding-larger;
}