/*
* padding     
*/

.jq-padding--smaller {
  padding: @padding-smaller;
}

.jq-padding--small {
  padding: @padding-small;
}

.jq-padding--medium {
  padding: @padding-medium;
}

.jq-padding--large {
  padding: @padding-large;
}

.jq-padding--larger {
  padding: @padding-larger;
}

/*
* padding-top
*/


.jq-padding-top--smaller {
  padding-top: @padding-smaller;
}

.jq-padding-top--small {
  padding-top: @padding-small;
}

.jq-padding-top--medium {
  padding-top: @padding-medium;
}

.jq-padding-top--large {
  padding-top: @padding-large;
}

.jq-padding-top--larger {
  padding-top: @padding-larger;
}

/*
* padding-bottom
*/

.jq-padding-bottom--smaller {
  padding-bottom: @padding-smaller;
}

.jq-padding-bottom--small {
  padding-bottom: @padding-small;
}

.jq-padding-bottom--medium {
  padding-bottom: @padding-medium;
}

.jq-padding-bottom--large {
  padding-bottom: @padding-large;
}

.jq-padding-bottom--larger {
  padding-bottom: @padding-larger;
}

/*
* padding-left
*/

.jq-padding-left--smaller {
  padding-left: @padding-smaller;
}

.jq-padding-left--small {
  padding-left: @padding-small;
}

.jq-padding-left--medium {
  padding-left: @padding-medium;
}

.jq-padding-left--large {
  padding-left: @padding-large;
}

.jq-padding-left--larger {
  padding-left: @padding-larger;
}


/*
* padding-right
*/

.jq-padding-right--smaller {
  padding-right: @padding-smaller;
}

.jq-padding-right--small {
  padding-right: @padding-small;
}

.jq-padding-right--medium {
  padding-right: @padding-medium;
}

.jq-padding-right--large {
  padding-right: @padding-large;
}

.jq-padding-right--larger {
  padding-right: @padding-larger;
}