@import './theme.less';
// center

.@{prefix}-center {
  display: flex;
  justify-content: center;
  align-items: center
}

.@{prefix}-center--horizontal {
  display: flex;
  justify-content: center;
}

.@{prefix}-center--vertical {
  display: flex;
  align-items: center
}

// cover

.@{prefix}-cover {
  width: 100%;
  height: 100%;
}

.@{prefix}-cover--vertical {
  height: 100%;
}

.@{prefix}-cover--horizontal {
  width: 100%;
}