.jq-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jq-center--horizontal {
  display: flex;
  justify-content: center;
}
.jq-center--vertical {
  display: flex;
  align-items: center;
}
.jq-cover {
  width: 100%;
  height: 100%;
}
.jq-cover--vertical {
  height: 100%;
}
.jq-cover--horizontal {
  width: 100%;
}
