/**
 * input
 */
.vui-input {
  position: relative;
  display: flex;
  overflow: hidden;
}
.vui-input > input {
  flex: 1;
  text-align: left;
  display: inline-block;
  font-size: inherit;
  font-size: 14px;
  outline: 0;
  padding: 0 8px;
  color: #333;
  background-color: transparent;
  border: 0;
  margin: 0;
}
.vui-input > input::placeholder {
  color: #c0c0c0;
  font-size: 12px;
}
.vui-input.vui-input--smaller > input,
.vui-input.vui-input--smaller .vui-input--prepend,
.vui-input.vui-input--smaller .vui-input--append {
  height: 28px;
  line-height: 28px;
}
.vui-input.vui-input--small > input,
.vui-input.vui-input--small .vui-input--prepend,
.vui-input.vui-input--small .vui-input--append {
  height: 32px;
  line-height: 32px;
}
.vui-input > input,
.vui-input.vui-input--medium > input,
.vui-input .vui-input--prepend,
.vui-input .vui-input--append,
.vui-input.vui-input--medium .vui-input--prepend,
.vui-input.vui-input--medium .vui-input--append {
  height: 36px;
  line-height: 36px;
}
.vui-input.vui-input--large > input,
.vui-input.vui-input--large .vui-input--prepend,
.vui-input.vui-input--large .vui-input--append {
  height: 40px;
  line-height: 40px;
}
.vui-input.vui-input--larger > input,
.vui-input.vui-input--larger .vui-input--prepend,
.vui-input.vui-input--larger .vui-input--append {
  height: 44px;
  line-height: 44px;
}
.vui-input .vui-input--prepend,
.vui-input .vui-input--append {
  flex: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/**
* input  border-radius
*/
.vui-input.vui-input--radius.is-radius-normal {
  border-radius: 4px;
}
.vui-input.vui-input--radius.is-radius-normal.vui-input--border::after {
  border-radius: 8px;
}
.vui-input.vui-input--radius.is-radius-round {
  border-radius: 10em;
}
.vui-input.vui-input--radius.is-radius-round.vui-input--border::after {
  border-radius: 10em;
}
/**
* input  border
*/
.vui-input--border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-color: #999;
  transition: border-color 0.5s ease-in-out;
  border-style: solid;
  border-width: 0;
}
.vui-input--border.is-border-active::after {
  border-color: #409eff;
}
.vui-input--border.is-border-thin::after {
  width: 200%;
  height: 200%;
  transform: scale(0.5);
}
.vui-input--border.is-border-bottom::after {
  border-bottom-width: 1px;
}
.vui-input--border.is-border-round::after {
  border-width: 1px;
}
